@font-face{font-family:'Eviefont';
src: url(fonts/Eviefont-Regular.otf);}

body{background-color: #648fd9;}
H6{font-family: 'Outfit'; font-size: 20px; text-align: Left; margin:2px; color:#283523;}
h5{font-family: 'Outfit'; font-size: 23px; text-align: center; margin:0px; color:#283523;}
h4{font-family:'Eviefont'; font-size: 30px; text-align: center; margin-bottom: 10px; color: #283523;}
h3{font-family:'Outfit'; font-size: 35px; text-align: center; margin-bottom: 10px; color: white;}
h2{font-family: 'Outfit', sans-serif; font-size: 50px; background-color: #283523; text-align: center; color:white; margin-top: 0px;}
p{font-family:'Poppins'; font-size: 16px; padding: 20px; text-align: justify;} 
.welcome{
    display:flex;
    flex-wrap: wrap;
    padding:30px;
    background-color: #648fd9;
    margin:0;
}

.welcome h1{font-family:'Eviefont', sans-serif;
    font-size: 100px; 
    color:white;
    margin-bottom: 5px;
}

.message{
    flex:1;
    text-align: left;
    margin-right: 40px;
    color: white;
}
.welcimage{
    min-width: 300px;
    flex:1;
    object-fit: contain;
    align-content: center;
    padding:auto;
}

.message p{background-color: #080a0867; border-radius: 15px; text-align: justify; margin:10px;}
.message h3{font-family: 'Outfit'; text-align: justify; margin:10px;}

.LikesDislikes{background-color: rgba(115, 127, 46, 1);}
.LikesnDislikesBox{
    height: fit-content;
    text-align: justify; margin:10px;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.category{
    flex: 1;
    background-color:beige;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

.category ul{font-family: 'Poppins' ; font-size: 16px; text-align: justify;}

.musthaves {
  background-image: linear-gradient(rgba(115, 127, 46, 0.7), rgba(115, 127, 46, 0.8)),url('Photos/grass.jpg');
  background-size: tile;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 60px;
    padding: 20px;

}


.card img{
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:3px;
}

.card{flex: 0 0 300px;  background-color: #f2efea; border-radius: 15px; padding: 15px;align-items: stretch }
.card p{font-family:'Poppins'; font-size: 14px; text-align: justify; margin-top: auto;}
.routine{
    display:flex; 
    flex-wrap:wrap; 
    justify-content:center; 
    flex-direction: row;
    gap: 20px;
    padding: 20px;}
.morning-routine-message ul{font-family: 'Poppins'; font-size: 14px; text-align: justify;}
.night-routine-message ul{font-family: 'Poppins'; font-size: 14px; text-align: justify;}

.experience{display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; padding: 20px;}

footer{background-color: #283523; margin:0; color:white;}